<div class="row">
    <div class="col">
        <h2>Welcome, {{ username }}.</h2>
    </div>
</div>

<div class="new-post">
    <a class="btn btn-success" href="/dashboard/new" role="button">Create a new post</a>
</div>
<br>

{{#if posts.length}}
<h3>My Posts</h3>
{{#each posts as |post|}}
<a href="/dashboard/edit/{{post.id}}">
    <div class="card mt-3" style="width:100%;">
        <div class="card-body">
            <h4 class="ms-auto">{{post.title}}</h4>
        </div>
        <div class="card-footer text-muted">
            {{format_date post.date_created}}
        </div>
    </div>
</a>    
{{/each}}
{{/if}}


<script src="./js/dashboard.js"></script>