<div class="row">
    <div class="col-md-6">
        <h2>Edit Post</h2>
        <form class="edit-post-form">
            <div class="form-group">
                <label for="title" class="form-label">Edit title</label>
                <input type="text" class="form-control" id="title" value="{{post.title}}">
            </div>
            <div class="form-group">
                <label for="content" class="form-label">Edit content</label>
                <textarea class="form-control" id="content" name="content">{{post.text}}</textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Make your changes</button>
            </div>
        </form>
        <button type="button" class="btn btn-danger" id="delete-post">Delete this post</button>
    </div>
</div>

<script src="./js/edit.js"></script>